.slick-dotted.slick-slider{
  margin-bottom: 0;
}

.slick-prev:before, .slick-next:before {
  font-family: FontAwesome;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev, .slick-next{
  z-index: 999;
}

.slick-next:before {
  content: "\f0a9";
}

.slick-prev:before {
  content: "\f0a8";
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: 0.5;
}

.slick-dots li button:before{
  opacity: 0.5;
  color: #000000;
}

.slick-dots li.slick-active button:before{
  color: #000000;
  opacity: 1;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  min-width: 320px;

  a:hover,
  a:visited,
  a:focus{
    text-decoration: none;
  }
}

p{
  margin: 0;
}

header{
  .logo{
    padding: 6px 0;

    @media screen and (max-width: 720px){
      text-align: center;
    }

    img{
      width: 100px;
    }

  }

  .header-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 720px){
      justify-content: center;
      flex-flow: row wrap;
    }
  }

  .header-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15px;

    @media screen and (max-width: 720px){
      width: 100%;
      justify-content: center;
      padding: 15px;
    }
  }

  .header-item-icon,
  .header-item-info{
    display: inline-block;
    flex-direction: column;
  }

  .header-item-icon{
    padding-right: 15px;
  }

  .fa{
    color: #5682a3;
  }

  h4{
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 14px;
    color: #353535;
    font-weight: 500;
  }

  p{
    margin: 0;
    color: #555;
  }
}

.main-banner{

  .main-banner-bg{
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
  }

  .main-banner-content-wrap{
    padding: 45px 0;
    background-color: rgba(5, 11, 16, 0.7);
  }

  .main-banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 30px 0;

    h4{
      width: 60%;
      font-size: 40px;
      font-weight: 900;
      text-align: right;
      text-transform: uppercase;
      margin-top: 0;
      padding-bottom: 20px;
      margin-bottom: 20px;
      position: relative;
      line-height: 40px;

      @media screen and (max-width: 720px){
        width: 75%;
        font-size: 22px;
        line-height: 24px;
      }

      &:after{
        background-color: #5682a3;
        position: absolute;
        right: 0;
        content: "";
        bottom: -1.5px;
        width: 180px;
        height: 3px;
      }
    }
    h5{
      font-size: 14px;
      text-align: right;
      color: #f9f9f9;
      width: 40%;

      @media screen and (max-width: 720px){
        width: 80%;
        line-height: 19px;
      }

    }

  }

  .main-banner-cta{
    margin-top: 30px;
    background: #5682a3;
    color: #fff;
    padding: 10px 35px;
    text-transform: uppercase;
    font-size: 14px;
    border: 0 solid;
    font-weight: 500;
    position: relative;
    border-radius: 3px;
  }

}

.benefits-section{
  padding: 30px 0;
  background-color: #5682a3;

  .benefits-wrapper{
    color: #fff;
  }

  .benefits-item{
    text-align: center;
  }

  .benefits-img{
    img{
      width: 64px;
      height: 64px;

      @media screen and (max-width: 720px){
        width: 50px;
        height: 50px;
      }
    }
  }

  h2{
    text-align: center;
    margin: 30px 0;

    @media screen and (max-width: 720px){
      font-size: 18px;
      line-height: 22px;
    }
  }

  h3{
    font-weight: 300;
    font-size: 20px;

    @media screen and (max-width: 720px){
      font-size: 18px;
    }
  }

  p{
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }

  .benefits-cta-button{
    padding: 60px 0;
    text-align: center;
  }

  .benefits-button{
    background: #fff;
    color: #5682a3;
    padding: 10px 35px;
    text-transform: uppercase;
    font-size: 14px;
    border: 0 solid;
    font-weight: 600;
    position: relative;
    border-radius: 3px;
  }
}

.why-us-section{
  padding: 30px 0;
  background-color: #fff;

  h2{
    text-align: center;
    color: #636b6f;
    font-size: 26px;
    line-height: 30px;
    margin: 20px 0;
  }

  .card{
    position: relative;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 720px){
      margin: 15px 0;
    }

  }

  .card-image{
    width: 100%;

    img{
      max-width: 100%;
    }
  }

  .card-content{
    padding: 20px;
  }

  .card-title{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 16px;

    .italic-underline{
      font-style: italic;
      text-decoration: underline;
    }
  }

  .wh-btn{
    padding: 30px 0;
    text-align: center;
  }

  .wh-cta-btn{
    background: #5682a3;
    color: #fff;
    padding: 10px 35px;
    text-transform: uppercase;
    font-size: 14px;
    border: 0 solid;
    font-weight: 500;
    position: relative;
    border-radius: 3px;
  }
}

.reviews-section{
  padding: 30px 0;
  background-color: #f6f6f6;

  .review-item{
    padding: 20px;
    border-radius: 2.5px;
    background-color: #fff;

    @media screen and (max-width: 720px){
      margin: 15px 0;
      padding: 15px;
    }
  }

  .review-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .review-text{
    display: inline-flex;
    font-size: 24px;
    width: 100%;
    text-align: center;
    font-weight: 600;
  }

  .review-wh,
  .review-text{
    padding: 15px 0;
  }

  .review-wh-text-wrap{
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;

    .review-wh-title{
      font-size: 16px;
      font-weight: 700;
    }
  }

  .review-img{
    align-items: center;

    img{
      width: 64px;
      height: 64px;
    }
  }
}

.choose-section{
  padding: 30px 0;
  background-color: #fff;

  @media screen and (max-width: 720px){
    padding: 15px 0;
  }

  .choose-item{
    padding: 10px;
    border-radius: 3px;
    color: #fff;
    background-color: #5682a3;

    ul{

      @media screen and (max-width: 720px){
        padding-left: 20px;
      }
    }
    @media screen and (max-width: 720px){
      margin: 15px 0;
    }
  }

  .choose-title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    @media screen and (max-width: 720px){
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  .choose-text{
    font-size: 16px;

    ul{

    }

    li{
      font-size: 14px;
      line-height: 26px;
      font-weight: 300;
    }
  }
}

.cta-section{
  padding: 30px 0;
  background-color: #f6f6f6;

  .cta-title{
    font-weight: 600;
    font-size: 24px;
    text-align: center;

    @media screen and (max-width: 720px){
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 5px;
    }
  }

  .cta-untitle{
    font-size: 18px;
    text-align: center;

    @media screen and (max-width: 720px){
      font-size: 14px;
    }
  }

  .cta-form{
    width: 30%;
    padding: 45px 0;
    text-align: center;
    margin: 0 auto;

    @media screen and (max-width: 720px){
      width: 100%;
      padding: 25px 0;
    }
  }

  .cta-btn{
    width: 100%;
    background-color: #2d6aa1;
    border: 2px solid #245581;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
  }

  .form-control{
    border: 1px solid #ccc;
  }

}

.clients-section{
  padding: 30px 0 45px 0;
  background-color: #fff;

  .clients-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }

  .carousel-item{
    padding: 15px;

    img{
      margin: 0 auto;
    }
  }
}

footer{
  padding: 30px 0;
  background-color: #303030;
  color: rgb(255, 255, 255);
}

.contacts-section{
  padding: 30px 0;

  @media screen and (max-width: 720px){
    padding: 0;
  }

  .contact-cta-btn{
    background: #5682a3;
    color: #fff;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 14px;
    border: 0 solid;
    font-weight: 500;
    position: relative;
    border-radius: 3px;
  }

  .contacts-title{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;

    @media screen and (max-width: 720px){
      margin-bottom: 10px;
    }
  }

  .contacts-ul{
    padding: 0;
    list-style: none;

    li{
      margin-bottom: 10px;

      @media screen and (max-width: 720px){
        margin-bottom: 5px;
      }
    }

    a{
      color: #fff;

      &:hover,
      &:active,
      &:focus
      {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .map{
    @media screen and (max-width: 720px){
      margin-top: 20px;
    }
  }
}